.page-wrapper {
    background: #eaeaea;
}

.sep-item {
    border-top: 1px solid #ddd;
}

#page-content {
    width: 1028px;
    margin: 0 auto;
    color: #404040;
}

#page-content .content {
    padding-top: 10px;
    padding-bottom: 25px;
}

#page-content .content .content-left {
    width: calc(100% - (300px + 16px + 16px));
    margin-right: 17px;
}

#page-content .content .content-right {
    width: 316px;
}

#page-content .content-left .count-result {
    line-height: 28px;
    padding-bottom: 20px;
    padding-left: 10px;
    background: #fff;
}

#page-content .content-left .count-result .title {
    font-size: 20px;
    font-weight: 300;
    padding: 10px 0;
}

#js-companies .item {
    padding: 20px;
    background: #fff;
    position: relative;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px 1px rgba(127, 127, 127, 0.3);
}

#js-companies .item .logo {
    position: absolute;
    left: 20px;
    top: 25%;
}

#js-companies .item .logo .img {
    display: inline-block;
    border: 1px solid #ccc;
}

#js-companies .item .logo .img img {
    height: 70px;
    width: 70px;
}

#js-companies .item .main {
    padding-left: 90px;
}

#js-companies .item .main .info {
    flex: 0 0 50%;
}

#js-companies .item .main .info .company-name {
    font-size: 19px;
    font-weight: 600;
}

#js-companies .item .main .info .rating {
    padding-bottom: 18px;
}

#js-companies .item .main .info .rating .icon {
    display: inline-block;
    color: rebeccapurple;
}

#js-companies .item .main .info .location {
    padding-bottom: 10px;
    font-size: 14px;
    color: #575757;
}

#js-companies .item .main .info .site {
    font-weight: 300;
    font-size: 13px;
    color: #575757;
}

#js-companies .item .main .side-right {
    flex: 0 0 50%;
}

#js-companies .item .main .side-right .stats {
    margin-top: 23px;
    text-align: center;
    color: #575757;
    font-weight: 300;
}

#js-companies .item .main .side-right .stats .num {
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    padding-bottom: 7px;
    color: #20262e;
}

#js-companies .item .main .side-right .stats .nopad {
    padding: 0;
}

#js-companies .item .main .side-right .btn-review {
    margin-top: 31px;
    padding: 10px 20px;
    background: #0caa41;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    color: #fff;
    float: right;
}

#page-content .content .content-right {
    background: #fff;
    color: #404040;
}

#page-content .content .content-right .wrapper {
    padding: 17px 14px;
    background: #fff;
}

#page-content .content .content-right .wrapper .title {
    font-size: 20px;
    padding: 10px 10px 20px 0;
    color: #20262e;
}

#suggested-jobs .item {
    position: relative;
    font-size: 15px;
    padding-bottom: 15px;
}

#suggested-jobs .item .logo {
    position: absolute;
}

#suggested-jobs .item .logo img {
    border: 1px solid #ddd;
    height: 50px;
    width: auto;
}

#suggested-jobs .item .job-wrapper {
    padding-left: 69px;
    line-height: 24px;
}

#suggested-jobs .item .job-wrapper .job-location {
    color: #575757;
    font-weight: 300;
    font-size: 14px;
}

#company-detail {
    padding: 15px 0;
}

#company-detail .wrapper .common-info {
    box-shadow: rgba(127, 127, 127, 0.3) 0px 1px 1px 1px;
    padding: 15px;
    background: #fff
}

#company-detail .wrapper .common-info .background img {
    width: 100%;
    height: 86px;
    opacity: 0.7;
}

#company-detail .wrapper .common-info .logo {
    position: absolute;
    top: 36px;
    left: 11px;
}

#company-detail .wrapper .common-info .logo img {
    height: 70px;
    border: 1px solid #ccc;
    width: 70px;
}

#company-detail .wrapper .common-info .main {
    padding-left: 120px;
    padding-top: 11px;
}

#company-detail .wrapper .common-info .main .name {
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 9px;
}

#company-detail .wrapper .common-info .main .name .icon {
    font-size: 14px;
    color: green;
}

#company-detail .wrapper .common-info .main .location {
    font-weight: 300;
}

#company-detail .wrapper .menu {
    margin-top: 28px;
}

#company-detail .wrapper .menu .nav {
    text-align: center;
}

#company-detail .wrapper .menu .nav .tab {
    font-weight: 300;
    cursor: pointer;
    padding: 8px 0;
}

#company-detail .wrapper .menu .nav .tab.active {
    border-bottom: 3px solid #1861bf
}

#company-detail .wrapper .menu .nav .tab .number {
    display: block;
    font-weight: 400;
    font-size: 18px;
    color: rgb(64, 64, 64);
}

#company-detail .wrapper .menu .action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
}

#company-detail .wrapper .menu .action .btn-follow {
    padding: 12px 16px;
    border: 1px solid rebeccapurple;
    border-radius: 2px;
}

#company-detail .wrapper .menu .action .btn-review {
    padding: 5px 17px;
    border: 1px solid rebeccapurple;
    border-radius: 2px;
    background: rosybrown;
    color: #fff;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
}

#company-detail .wrapper .menu .action .btn-review .icon {
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 8px;
    padding-bottom: 2px;
}

#company-detail .company-detail-content {
    margin-top: 10px;
}

#company-detail .company-detail-content .content-left {
    background: #fff;
}

#company-detail .company-detail-content .content-left .header {
    padding: 20px;
    font-size: 19px;
    font-weight: 300;
}

#reviews .item {
    padding: 0 20px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
}

#reviews .item .time {
    color: #888888;
    font-weight: 300;
    padding: 20px 0px;
}

#reviews .item .main {
    position: relative;
    line-height: 30px;
}

#reviews .item .main .logo {
    position: absolute;
}

#reviews .item .main .logo img {
    height: 50px;
    border: 1px solid #ddd;
    width: 50px;
}

#reviews .item .main .review {
    padding-left: 68px;
}

#reviews .item .main .review .pros .title,
#reviews .item .main .review .cons .title {
    font-weight: 600
}

#reviews .item .main .action {
    height: 40px;
}

#reviews .item .main .action .vote {
    float: right;
    border: 1px solid #ddd;
    border-radius: 33px;
    width: 72px;
    font-size: 18px;
}

#reviews .item .main .action .vote .btn-like {
    padding: 5px 10px;
    border-right: 1px solid #ddd;
}

#reviews .item .main .action .vote .btn-dislike {
    padding: 5px 10px;
    display: inline-block;
    margin-left: -5px;
}

#company-detail .wrapper .menu .nav .tab .title {
    padding-top: 10px;
    display: inline-block;
    color: #1861bf;
    font-weight: 500
}

#company-detail .wrapper .menu .sep-cell {
    height: 49px;
    width: 1px;
    border-left: 1px solid #eee;
}

#company-detail .interview-container {
    padding-left: 70px;
}

#company-detail .interview-container {}

#company-detail .item .job-title {
    font-size: 18px;
    color: #1861bf;
    font-weight: 600;
    opacity: 0.8;
}

#company-detail .item .employee_name {
    color: #787878d9;
    font-size: 14px;
}

#company-detail .item .rating {
    display: flex;
}

#company-detail .interview-container {}

#company-detail .item .job-title {
    font-size: 18px;
    color: #1861bf;
    font-weight: 600;
    opacity: 0.8;
}

#company-detail .item .employee_name {
    color: #787878d9;
    font-size: 14px;
}

#reviews .item .rating {
    display: flex;
    margin: 10px 0;
    font-size: 15px;
    font-weight: 300;
    color: #ddd;
}

#reviews .item .rating>span {
    padding: 4px;
    border-radius: 2px;
    font-size: 10px;
    margin-right: 3px;
    border: 1px solid #ddd
}

#reviews .item .rating>span.selected {
    background-color: #285c83;
    color: #fff;
}

#reviews .item .rating .selected {
    color: #575757;
}

#company-detail .item .rating .offer .no-offer {
    display: inline-block;
    padding: 8px;
    background: #ec4133;
    border-radius: 3px;
    vertical-align: middle;
    margin-right: 10px
}

#company-detail .item .rating .exper .normal {
    display: inline-block;
    padding: 8px;
    background: #ec4133;
    border-radius: 3px;
    vertical-align: middle;
    margin-right: 10px
}

#reviews .item .rating span {
    vertical-align: middle;
}

#company-detail .item .rating .symbol {
    border-radius: 3px;
    vertical-align: middle;
    margin-right: 10px;
    display: inline-block;
    padding: 8px;
}

#company-detail .item .rating .exper .normal {
    background: #F6B500;
}

#company-detail .item .rating .exper .negative {
    background: #ad1212;
}

#company-detail .item .rating .exper .positive {
    background: #009688;
}

#company-detail .item .rating .difficulty .too_easy {
    background: #4CAF50;
}

#company-detail .item .rating .difficulty .easy {
    background: #33ece3;
}

#company-detail .item .rating .difficulty .difficult {
    background: #ec8033;
}

#company-detail .item .rating .difficulty .too_difficult {
    background: #ad1212;
}

#company-detail .item .rating .difficulty .avg {
    background: #F6B500;
}

#company-detail .item .rating .offer .declined {
    background: #ff9800;
}

#company-detail .item .rating .offer .declined {
    background: #ff9800;
}

#company-detail .item .rating .offer .accepted {
    background: #009688
}

#company-detail .item .interview-description .title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px
}

#company-detail .item .interview-questions .title {
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}

#company-detail .item .interview-questions .question-row {
    padding: 0 0 10px;
}

#add-review .content-wrapper .logo img {
    height: 70px;
    border: 1px solid #ddd;
}

#add-review .content-wrapper .logo {
    margin-right: 10px;
}

#update-profile .row {
    margin: 10px 0;
}

#update-profile .row label {
    font-size: 15px;
    font-weight: 600;
    color: #444;
    display: inline-block;
    padding: 10px 0;
}

#update-profile .row input[type="text"] {
    font-size: 15px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
    width: 600px;
    outline: none;
}

#update-profile .row input[type="text"]:focus {
    border: 1px solid blue;
}

#update-profile .btn-update-profile {
    padding: 10px;
    border: 1px solid #285c83;
    border-radius: 3px;
    display: inline-block;
    margin-top: 20px;
    color: #fff;
    background: #285c83;
    font-size: 15px;
    width: 200px;
}

#update-profile .row .description {
    width: 600px;
}

.company-profile .logo img {
    width: 100px;
}

.company-profile .logo {
    margin-top: 20px
}

.company-profile {
    max-width: 900px;
}

#company-jobs .item {
    width: 480px;
    display: flex;
    align-items: center;
    height: 90px;
    line-height: 28px;
    padding: 20px;
}

#company-jobs .item .item-left .logo img {
    height: 40px;
    width: 40px;
    border: 1px solid #ddd;
    position: absolute;
}

#company-jobs .item .item-left {
    position: relative;
}

#company-jobs .item .item-left .main {
    padding-left: 60px
}

#company-jobs .item .item-left .main .title {
    font-size: 17px;
    font-weight: 600;
    color: #575757;
}

#company-jobs .item .item-right {
    position: relative;
}

#company-jobs .item .item-left .main .company_name {
    display: inline-block;
}

#company-jobs .item .item-left .main .location {
    display: inline-block;
    color: #777;
    font-size: 14px;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
}

#company-jobs .item .item-right {
    height: 100%;
    position: relative;
}

#company-jobs .item .item-right .time {
    position: absolute;
    bottom: 12px;
    font-size: 13px;
    display: inline-block;
    width: 80px;
    color: #666;
}